
.header{
    margin-top: 1em;
    height: 4em;
    border-radius: 1.2em;
    grid-area:h;
    background:turquoise;
    box-shadow:0 0 10px;
  }
.header img{
    margin: auto;
    grid-area:h;
    width:4em;
    height:4em;
    border-radius: 1.2em;
    box-sizing: border-box;
    border: 2px solid black;
  }