.mymessage{
    display: flex;
    margin-top:1em;
    margin-left:auto;
    justify-content:right;
    text-align: left;
    
    
}
.myNickName{
    text-align:right;
    
}
.friendNickName{
    text-align:right;

}

.friendmessage{
    display: flex;
    text-align: left;
    margin-top:1em;
    word-wrap:break-word;
    justify-content:left;
}
.MessageBody{
    max-width: 20em;
    word-wrap: break-word;
    word-break: break-all;

}