
.post_item{
    margin: 2em 0 2em;
    display: flex;
    height: 100%;
    width: 50em;
    
}

.post_item img{
    height: 4em;
    width: 4em;
    border-radius:50%;

}
.post__content{
    display: flex;
    flex-direction: column;
    border:0.2em solid turquoise;
    background:wheat;
    border-radius: 1.2em;
    padding: 0.5em 1em;
    margin-left: 0.5em;
    width: 40em;
    justify-content: space-between;
    
}
time{
    height: 1em;
    display: flex;
    font-size: 12px;
    color:black;
    justify-content: flex-end;
    align-items: flex-end;
    
}
h4{
    margin-left: 1em;
    line-height:0;
}
.message {
    word-wrap:break-word;
    width: 40em;
}
.post__likes{
    display: flex;
    align-items: flex-end;
    height: 1.5em;
    justify-content:flex-start;
}