
.messages{
    display: grid;
    grid-template-columns:3fr 0.5fr 10fr;
    height:100%;
}
.dialog {

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    gap: 0;
    place-items: left;
    background: rgb(241, 183, 183);
    border-top-left-radius: 1.2em;
    border-bottom-left-radius: 1.2em;
    box-shadow:0 0 10px;

  }
  .messages__block{
    display: grid;
    grid-template-rows:auto;
    align-items: center;
    padding: 1em;
    background: rgb(241, 183, 183);
    border-radius: 1.2em;
    box-shadow:0 0 10px;
  }
  
 