.messages{
    display:grid;
    grid-template-columns: 2fr 1fr 7fr;
    height:100%;
}
.dialog{
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    align-items: flex-start;
    margin: 0 auto;
}

.messages__block{
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    align-items: flex-start;
    
}
.active{
    color:rgb(4, 0, 221);
}