.new__post{
    display: flex;
    margin:2em 0 2em 4.5em;

}
form{
    display: flex;
    flex-direction: column;
    gap:1em;
}
.text__head{
    border: 2px solid turquoise;
    border-radius: 0.4em;
    height:2.5em;
    width:30em;
    
}
.text__area{
    border: 2px solid turquoise;
    border-radius: 0.4em;

}
.new__post p{
    font-weight: bold;
}