.App {
  margin:0 auto;
  display: grid;
  grid-template-columns:10em 1fr;
  grid-template-rows: 4em 1fr;
  grid-template-areas: 
  'h h'
  'n p'
  ;
  gap:1.5em;
  row-gap:1.5em;
  width:1440px;
  height:100%;
}
.app__pages__content{
    grid-area:p;
    background: rgb(241, 183, 183);
    border-radius: 1.2em;
    box-shadow:0 0 10px;
  }
  ::-webkit-scrollbar{
    display: none;
  }

  

