
.messages{
    display: grid;
    grid-template-columns:3fr 0.5fr 6fr;
    height:40em;
}
.dialog {

    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    gap: 0;
    place-items: left;
    background: rgb(241, 183, 183);
    border-top-left-radius: 1.2em;
    border-bottom-left-radius: 1.2em;
    box-shadow:0 0 10px;
    height:20em;
    overflow: scroll;
  }
  .messages__block{
    display: flex;
    height:30em;
    width: 40em;
    flex-direction: column-reverse;
    padding: 1em;
    background: rgb(241, 183, 183);
    border-top-right-radius: 1.2em;
    border-bottom-right-radius:1.2em;
    box-shadow:0 0 10px;
    overflow: auto;
    scroll-snap-align: start;
  }
  
 .form{
  display: flex;
  flex-direction: row;
  align-items: center;
  width:35em;

 }