.mymessage{
    display: block;
    text-align: right;

    
    
}
.mymessage img{
    height: 4em;
    width: 4em;
}
.friendmessage img{
    height: 4em;
    width: 4em;
}
.friendmessage{
    display: block;
    text-align: left;
}