.navbar{
    position:fixed;
    margin-top: 6em;
    margin-left: 1em;
    grid-area: n;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:wheat;
    border-radius: 1.2em;
    box-shadow:0 0 10px;
    width:10em;
    z-index: 2000;
  }
  .link{
    all: unset;
    display: flex;
    justify-content:center;
    align-items: center;
    height:3em;
    width: 100%;
    cursor: pointer;
    transition: background 0.1s ease-in-out;
  }
  .link:hover {
    background:rgb(223, 160, 79);
    outline: 2px auto;
  }
 .link:focus{
    background: rgb(255, 123, 0);
    outline: 2px auto;
    }
  
  .link:first-child{
    border-top-left-radius:1.2em;
    border-top-right-radius:1.2em;
  }
  .link:last-child{
    border-bottom-left-radius:1.2em;
    border-bottom-right-radius:1.2em;
  }
  